@model ShoppingCMS_V002.Models.ProductModel

<tr>
    <th style="display: none" scope="Id">@Model.Id</th>
    <th scope="row">@Model.Num</th>
    <td><a href="">@Model.Title</a></td>
    <td><span>@Model.Description</span></td>
    <td>
        <div style="text-align: center;">
            <img src="@Model.PicPath"
                 alt="" height="100%" width="100%">
        </div>
    </td>
    <td>
        <div style="text-align: center;">
            @if (@Model.deleted)
            {
                <button type="button"
                        class="btn btn-danger">
                    حذف
                </button>
            }
            else if (@Model.disabled)
            {
                <button type="button" class="btn btn-warning">
                    غیر
                    فعال
                </button>
            }
            else
            {
                <button type="button"
                        class="btn btn-success">
                    فعال
                </button>
            }


        </div>
    </td>

    <td>@Model.Date</td>
    <td>@Model.Category</td>
    @*<td>@Model.MainPrice</td>*@
    <td>@Model.AddBy</td>
    <td>
        <div class="dropdown dropdown-inline">
            <button type="button" class="btn btn-hover-danger btn-elevate-hover btn-icon btn-sm btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flaticon-more-1"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="@Url.Action("ProductDetails","Product",new {Id_Pro=Model.Id, Sub=Model.SubId })"><i class="la la-info-circle"></i> نمایش جزئیات</a>
                <a class="dropdown-item" href="@Url.Action("Update_Product","Product",new {Id_Pro=Model.Id })" ><i class="la la-edit"></i> ویرایش</a>
                <div class="dropdown-divider"></div>
                @if (@Model.deleted)
                {

                }
                else if (@Model.disabled)
                {
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#kt_modal_Del" onclick="return ModelLoader('del',@Model.Id)"><i class="la la-trash" ></i> حذف</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#kt_modal_Act" onclick="return ModelLoader('Act',@Model.Id)"><i class="la la-check-square"></i> فعال کردن</a>
                }
                else
                {
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#kt_modal_Del" onclick="return ModelLoader('del',@Model.Id)"><i class="la la-trash" ></i> حذف</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#kt_modal_DeAct" onclick="return ModelLoader('DeAct',@Model.Id)"><i class="la la-ban"></i> غیرفعال کردن</a>
                }


            </div>
        </div>
    </td>
</tr>
