@model ShoppingCMS_V002.ModelViews.AddProductModelV_2
@{
    ViewBag.Title = "Add_Page2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- begin:: div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content" -->
<!-- begin:: div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" -->
<!-- begin:: Tozihat Optional -->
<div class="row">
    <div class="col">
        <div style="display:none" id="Mpro_">@Model.Id</div>
        <div style="display:none" id="Url_3" ></div>
        <div style="display:none" id="OptionTbl_3" ></div>
    </div>
</div>
<!-- end:: Tozihat Optional -->
<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section">


            <div class="form-group row">
                <label class="col-form-label col-lg-3 col-sm-12">سر دسته ی محصولات</label>
                <div class=" col-lg-6 col-md-9 col-sm-12">
                    <select class="form-control kt-select2" id="Select2_A" onchange="Select_Type('Select2_A')" style="width: 100%;">
                        <option value=0 selected disabled hidden>انتخاب کنید</option>
                        @foreach (var item in Model.Types)
                        {
                            <option value=@item.Id>@item.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-3 col-sm-12">گروه اصلی محصولات</label>
                <div class=" col-lg-6 col-md-9 col-sm-12">
                    <select disabled class="form-control kt-select2" id="Select2_B" onchange=" Select_Main('Select2_B')" style="width: 100%;">
                        <option value=0 selected disabled hidden>انتخاب کنید</option>

                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-3 col-sm-12">گروه محصولات</label>
                <div class=" col-lg-6 col-md-9 col-sm-12">
                    <select disabled class="form-control kt-select2" id="Select2_C" onchange=" Select_Sub('Select2_C')" style="width: 100%;">
                        <option value=0 selected disabled hidden>انتخاب کنید</option>

                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label col-lg-3 col-sm-12">ویژگی های محصولات</label>
                <div class=" col-lg-9 col-md-9 col-sm-12">
                    <select disabled class="form-control kt-select2" id="kt_select2_multiple" name="param" multiple="multiple" onchange=" MultSelectorSelect()" style="width: 100%;">
                    </select>
                    @*<div style="display: block;" class="invalid-feedback">Shucks, check the formatting of that and try again.</div>*@
                   </div>

                </div>







                <!--begin::Alerts-->
                <div id="SuccesAlertEdit2" class="alert alert-solid-success alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
                    <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                    <div class="alert-text">با موفقیت ثبت شد!</div>
                </div>
                <div id="ERRAlertEdit2" class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
                    <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                    <div class="alert-text">مقدار ورودی باید پرشده باشد!</div>
                </div>
                <!--End::Alerts-->


            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-12 col-xs-12">
                    <button id="Sub_btn2" style="width: 100%;" class="btn btn-success" onclick="return SubmitedType2()">ثبت</button>
                </div>

            </div>
        </div>
        <!--end::Form-->
    </div>



<input disabled="disabled"style="display: none"id="addpage3" value="" />

    <!-- end:: div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid" -->
    <!-- end:: div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content" -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="assets/js/pages/crud/forms/widgets/select2.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $("#Select2_A").select2();
            $("#Select2_B").select2();
            $("#Select2_C").select2();
            $("#kt_select2_multiple").select2();

            

        });
        function MultSelectorSelect() {
            console.log("SubKey Selected value is: " + $("#kt_select2_multiple").val());
           // ChangeAllInput('2');
        }
        function Select_Type(ItemS) {
            console.log("Type Selected value is: " + $("#"+ItemS).val());
            $('#Select2_B').prop("disabled", false);
            $.ajax({
                url: "/Product/DropListFiller",
                type: "post",
                data: { "drop": "MainCat", "id": $("#"+ItemS).val() },
                success: function (response) {

                    var token = response;
                    var s = "<option value=0 selected >انتخاب کنید</option>";
                    for (var i = 0; i < token.length; i++) {
                        s += "<option value=" + token[i].Id + ">" + token[i].Value + "</option>";
                    }

                    document.getElementById('Select2_B').innerHTML = s;
                   // ChangeAllInput('2');
                    //alert(token[0].Value);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }

        function Select_Main(ItemS) {
            console.log("Main Selected value is: " + $("#"+ItemS).val());

            $('#Select2_C').prop("disabled", false);
            $.ajax({
                url: "/Product/DropListFiller",
                type: "post",
                data: { "drop": "SubCat", "id": $("#"+ItemS).val() },
                success: function (response) {

                    var token = response;
                    var s = "<option value=0 selected>انتخاب کنید</option>";
                    for (var i = 0; i < token.length; i++) {
                        s += "<option value=" + token[i].Id + ">" + token[i].Value + "</option>";
                    }

                    document.getElementById('Select2_C').innerHTML = s;
                    //ChangeAllInput('2');
                    //alert(token[0].Value);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }

        function Select_Sub(ItemS) {
            console.log("Sub Selected value is: " + $("#"+ItemS).val());

            $('#kt_select2_multiple').prop("disabled", false);
            $.ajax({
                url: "/Product/DropListFiller",
                type: "post",
                data: { "drop": "SubCat_Key", "id": $("#"+ItemS).val() },
                success: function (response) {

                    var token = response;
                    var s = "";
                    s += "<optgroup label=" + $("#Select2_C option:selected").text() + ">";
                  //  alert($("#Select2_C option:selected").text());
                    for (var i = 0; i < token.length; i++) {

                        s += "<option value=" + token[i].Id + ">" + token[i].Value + "</option>";
                    }
                    s += "</optgroup>"
                    document.getElementById('kt_select2_multiple').innerHTML = s;

                    //alert(token[0].Value);
                    //ChangeAllInput('2');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });


        }


        function SubmitedType2() {
            
            if ($("#Select2_A option:selected").val() === '0') {
                $("#ERRAlertEdit2").show(300);
            } else if ($("#Select2_B option:selected").val() === '0') {
                $("#ERRAlertEdit2").show(300);
            } else if ($("#Select2_C option:selected").val() === '0') {
                $("#ERRAlertEdit2").show(300);
            } else if ($("#kt_select2_multiple").val() == "") {
                $("#ERRAlertEdit2").show(300);
            } else {

                var PostJson = {
                        'Type': $("#Select2_A option:selected").val(),
                        'Main': $("#Select2_B option:selected").val(),
                        'id': '@Model.Id',
                        'Sub': $("#Select2_C option:selected").val(),
                        'SubKey':$("#kt_select2_multiple").val()
                };

                $.ajax({
                    url: '/Product/Save_Step2',
                    type: "post",
                    data: JSON.stringify(PostJson),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $("#ERRAlertEdit2").hide(300);
                        $("#SuccesAlertEdit2").show(300);
                        //alert(response);
                        var url = "@Url.Action("Add_Page3","Product",null,Request.Url.Scheme)?Ids="+$("#kt_select2_multiple").val()+"&id=@Model.Id";
                        $('#step3').load(url);
                        FreezItmsP2();
                        $('#Url_3').text(url);
                        var url_tbl= '@Url.Action("Options_Table","Product",null,Request.Url.Scheme)?id=@Model.Id';
                        $('#OptionTbl_3').text(url_tbl);
                        $("#Sub_btn2").hide(200);
                        $("#btn_next").show(200);
                        ChangeAllInput('3');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
            }

        }



    </script>
    <!--end::Page Scripts -->
