@using ShoppingCMS_V002.Models
@model List<TreeModel>
@{
    ViewBag.Title = "ShowCatTree";
    Layout = "~/Views/Master/Master.cshtml";
}
@Styles.Render("~/assets/jstree.css")

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home" style="display: inline-flex;">
                    <h3 class="kt-subheader__title">داشبورد</h3>

                    <span class="kt-subheader__separator kt-hidden"></span>


                    <i class="flaticon2-shelter"></i>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" id="PageName" class="kt-subheader__breadcrumbs-link"> نمایش تمامی دسته بندی ها </a>

            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
    </div>
</div>


<div class="col-lg-11" style="margin:auto">
    <!--begin::Portlet-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    نمایش دسته بندی ها
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div id="kt_tree_1" class="tree-demo">
                <ul>
                    @foreach (var Typeitem in @Model)
                    {
                        if (Typeitem.IsActive)
                        {
                            <li data-jstree='{ "icon" : "fa fa-folder kt-font-success jstree-themeicon-custom" }'>
                                @Typeitem.NameSub
                                <ul>
                                    @foreach (var Mainitem in Typeitem.Subs)
                                    {
                                        if (Mainitem.IsActive)
                                        {
                                            <li data-jstree='{ "icon" : "fa fa-folder kt-font-danger jstree-themeicon-custom" }'>
                                                @Mainitem.NameSub
                                                <ul>
                                                    @foreach (var Subitem in Mainitem.Subs)
                                                    {
                                                        if (Subitem.IsActive)
                                                        {
                                                            <li data-jstree='{ "icon" : "fa fa-folder kt-font-warning jstree-themeicon-custom" }'>
                                                                @Subitem.NameSub
                                                                <ul>
                                                                    @foreach (var SubKitem in Subitem.Subs)
                                                                    {
                                                                        if (SubKitem.IsActive)
                                                                        {
                                                                            <li data-jstree='{ "icon" : "fa fa-folder kt-font-primary jstree-themeicon-custom","type" : "file" }'>
                                                                                @SubKitem.NameSub
                                                                                <ul>
                                                                                    @foreach (var SubKVitem in SubKitem.Subs)
                                                                                    {
                                                                                        <li data-jstree='{ "type" : "file" }'>
                                                                                            @SubKVitem.NameSub
                                                                                        </li>
                                                                                    }
                                                                                </ul>
                                                                            </li>
                                                                        }
                                                                        else
                                                                        {
                                                                            <li data-jstree='{ "icon" : "fa fa-folder kt-font-primary jstree-themeicon-custom","disabled" : true ,"type" : "file"}'>
                                                                                @SubKitem.NameSub

                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li data-jstree='{ "icon" : "fa fa-folder kt-font-warning jstree-themeicon-custom","disabled" : true }'>
                                                                @Subitem.NameSub

                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-jstree='{ "icon" : "fa fa-folder kt-font-danger jstree-themeicon-custom","disabled" : true }'>
                                                @Mainitem.NameSub

                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li data-jstree='{ "icon" : "fa fa-folder kt-font-success jstree-themeicon-custom","disabled" : true }'>
                                @Typeitem.NameSub

                            </li>
                        }

                    }

                </ul>
            </div>
            @*<div class="alert alert-outline-primary kt-margin-t-10">
                    Note! Opened and selected nodes will be saved in the user's browser, so when returning to the same tree the previous state will be restored.
                </div>*@
        </div>
    </div>
    <!--end::Portlet-->

</div>
@Scripts.Render("~/bundles/JsTree.js")
