@model ShoppingCMS_V002.ModelViews.AddProductModelV_2
@{
    ViewBag.Title = "New_SCV";
    Layout = "~/Views/Master/Master.cshtml";
}

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home" style="display: inline-flex;">
                    <h3 class="kt-subheader__title">داشبورد</h3>

                    <span class="kt-subheader__separator kt-hidden"></span>


                    <i class="flaticon2-shelter"></i>
                </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="#" id="PageName" class="kt-subheader__breadcrumbs-link"> جزئیات ویژگی ها </a>

            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
            </div>
        </div>
    </div>
</div>


<!--begin::Section-->

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                جزئیات ویژگی ها(SubCatgoryValue)
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section">
            <div id="alll">
                <div class="form-group row">
                    <label style="margin-right:3%" class="col-form-label col-lg-2 col-sm-12">سر دسته ی محصولات</label>
                    <div class=" col-lg-6 col-md-9 col-sm-12">
                        <select class="form-control kt-select2" id="Select2_A" onchange="return Select_Type(this)" style="width: 100%;">
                            <option value=0 selected disabled hidden>انتخاب کنید</option>
                            @foreach (var item in Model.Types)
                            {
                                <option value=@item.Id>@item.Value</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label style="margin-right:3%" class="col-form-label col-lg-2 col-sm-12">گروه اصلی محصولات</label>
                    <div class=" col-lg-6 col-md-9 col-sm-12">
                        <select disabled class="form-control kt-select2" id="Select2_B" onchange="return Select_Main(this)" style="width: 100%;">
                            <option value=0 selected disabled hidden>انتخاب کنید</option>

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label style="margin-right:3%" class="col-form-label col-lg-2 col-sm-12">گروه محصولات</label>
                    <div class=" col-lg-6 col-md-9 col-sm-12">
                        <select disabled class="form-control kt-select2" id="Select2_C" onchange="return Select_Sub(this)" style="width: 100%;">
                            <option value=0 selected disabled hidden>انتخاب کنید</option>

                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label style="margin-right:3%" class="col-form-label col-lg-2 col-sm-12">ویژگی های محصولات</label>
                    <div class=" col-lg-6 col-md-9 col-sm-12">
                        <select disabled class="form-control kt-select2" id="Select2_D" style="width: 100%;">
                            <option value=0 selected disabled hidden>انتخاب کنید</option>

                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <div id="SCVId_" style="display:none"></div>
                <label style="margin-right:3%" class="col-form-label col-lg-2 col-sm-12">جزئیات ویژگی ها</label>
                <input type="text" class="form-control col-lg-6 col-md-9 col-sm-12" id="inputNew" placeholder="جزئیات موردنظر را وارد نمایید">
            </div>
        </div>

        <!--begin::Alerts-->
        <div id="SuccesAlertEdit2" class="alert alert-solid-success alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
            <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
            <div class="alert-text">با موفقیت ثبت شد!</div>
        </div>
        <div id="ERRAlertEdit2" class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert" style="display:none">
            <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
            <div class="alert-text">مقدار ورودی باید پرشده باشد!</div>
        </div>
        <!--End::Alerts-->


        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <button id="newBtn" class="btn btn-primary" onclick="return SubmitedType('New')">ثبت</button>

                <button id="editBtn" style="display:none" class="btn btn-primary" onclick="return SubmitedType('Edit')">ویرایش</button>

            </div>
        </div>
    </div>
</div>


<div id="show_tabSCV">

</div>


<!--START : DELETEMODAL-->
<div class="modal fade" id="PandaDeletModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content ">
            <div class="modal-header alert alert-danger">
                <h5 class="modal-title" style="color: #fff;" id="exampleModalLongTitle">حذف کردن جزئیات ویژگی ها </h5>
                <button type="button" class="close" style="color: black;" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <span>نام دسته بندی انتخاب شده : </span><span id="delete"></span>
                <br />
                <span>
                    بخش <span class="kt-badge kt-badge--inline kt-badge--danger">حذف</span> تمامی محصولات زیرشاخه آن دسته بندی را <span class="kt-badge kt-badge--inline kt-badge--danger">حذف</span> خواهد کرد
                    .
                </span>
                <br />
                آیا از این کار مطمئن هستید؟
            </div>
            <div class="modal-footer">
                <input style="width: 100%; height: 50px; display: none;" type="text" value="" id="modeldelete">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">منصرف شدم</button>
                <button type="button" class="btn btn-outline-danger" onclick="savePics('delete')" data-dismiss="modal">بله،حذف کن!</button>
            </div>
        </div>
    </div>
</div>
<!--END : DELETEMODAL-->
<!--START : editMODAL-->
<div class="modal fade" id="PandaedittModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content ">
            <div class="modal-header alert alert-primary">
                <h5 class="modal-title" style="color: #fff;" id="exampleModalLongTitle"> ویرایش کردن جزئیات ویژگی ها </h5>
                <button type="button" class="close" style="color: black;" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <span>نام دسته بندی انتخاب شده : </span><span id="edit"></span>
                <br />
                <span>
                    بخش <span class="kt-badge kt-badge--inline kt-badge--primary">ویرایش</span> تمامی محصولات زیرشاخه آن دسته بندی را <span class="kt-badge kt-badge--inline kt-badge--primary">ویرایش</span> خواهد کرد
                    .
                </span>
                <br />
                آیا از این کار مطمئن هستید؟
            </div>
            <div class="modal-footer">
                <input style="width: 100%; height: 50px;  display: none;" type="text" value="" id="modeledit">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">منصرف شدم</button>
                <button type="button" class="btn btn-outline-primary" onclick="savePics('edit')" data-dismiss="modal">بله،ویرایش کن!</button>
            </div>
        </div>
    </div>
</div>
<!--END : editMODAL-->


@Scripts.Render("~/bundles/jqueryCore.js")


@Scripts.Render("~/bundles/Select2");

<script>

    $(document).ready(function () {
        $("#Select2_A").select2();
        $("#Select2_B").select2();
        $("#Select2_C").select2();
        $("#Select2_D").select2();
        //alert("hellooo");
        $('#show_tabSCV').load("@Url.Action("SCV_table","ms",new {id='0' },Request.Url.Scheme)");
    });

    function modalloader(name, id) {

        document.getElementById("delete").innerHTML = name;
        $("#modeldelete").val(id);

        document.getElementById("edit").innerHTML = name;
        $("#modeledit").val(id);
        $('#SCVId_').text(id);
        alert(id);

    }

    function savePics(action) {
        var myObject = {
            firstName: "#model",
            lastName: action,
            fullName: function () {
                return this.firstName + "" + this.lastName;
            }
        }
        var x = myObject.fullName();
        var id = $(x).val();
        alert(id);

        if (action == 'edit') {
            var naMee = document.getElementById("edit").innerHTML;
            alert(naMee + "  edit");


            $("#alll").hide();
            $('#inputNew').val(naMee);
            $('#newBtn').hide();
            $('#editBtn').show();

        } else if (action == 'delete') {

            var naMee = document.getElementById("delete").innerHTML;
            alert(naMee + "  delete");
            var PostJson = {
                'ActTodo': 'delete',
                'SCK': 0,
                'SCV': ' 0 ',
                'id': id
            };

            $.ajax({
                url: '/MS/SCV_Add_Update',
                type: "post",
                data: JSON.stringify(PostJson),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#ERRAlertEdit2").hide(300);
                    $("#SuccesAlertEdit2").show(300);

                    if (action == 'Edit') {


                        var url = unescape('@Url.Action("SCV_table","MS",new { id="{0}"},Request.Url.Scheme)'.format($("#Select2_D option:selected").val()));
                        alert(url);
                        $('#show_tabSCV').load(url);

                    } else {
                        $('#show_tabSCV').load("@Url.Action("SCV_table","MS",new { id= '0'},Request.Url.Scheme)");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });

        }
        return false;
    }


    function Select_Type(ItemS) {
        console.log("Type Selected value is: " + $(ItemS).val());
        $('#Select2_B').prop("disabled", false);
        $.ajax({
            url: "/Product/DropListFiller",
            type: "post",
            data: { "drop": "MainCat", "id": $(ItemS).val() },
            success: function (response) {

                var token = response;
                var s = "<option value=0 selected disabled hidden>انتخاب کنید</option>";
                for (var i = 0; i < token.length; i++) {
                    s += "<option value=" + token[i].Id + ">" + token[i].Value + "</option>";
                }

                document.getElementById('Select2_B').innerHTML = s;

                //alert(token[0].Value);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    function Select_Main(ItemS) {
        console.log("Main Selected value is: " + $(ItemS).val());

        $('#Select2_C').prop("disabled", false);
        $.ajax({
            url: "/Product/DropListFiller",
            type: "post",
            data: { "drop": "SubCat", "id": $(ItemS).val() },
            success: function (response) {

                var token = response;
                var s = "<option value=0 selected disabled hidden>انتخاب کنید</option>";
                for (var i = 0; i < token.length; i++) {
                    s += "<option value=" + token[i].Id + ">" + token[i].Value + "</option>";
                }

                document.getElementById('Select2_C').innerHTML = s;

                //alert(token[0].Value);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }

    function Select_Sub(ItemS) {
        console.log("Sub Selected value is: " + $(ItemS).val());

        $('#Select2_D').prop("disabled", false);
        $.ajax({
            url: "/Product/DropListFiller",
            type: "post",
            data: { "drop": "SubCat_Key", "id": $(ItemS).val() },
            success: function (response) {

                var token = response;
                var s = "<option value=0 selected disabled hidden>انتخاب کنید</option>";

                //  alert($("#Select2_C option:selected").text());
                for (var i = 0; i < token.length; i++) {

                    s += "<option value=" + token[i].Id + ">" + token[i].Value + "</option>";
                }

                document.getElementById('Select2_D').innerHTML = s;

                //alert(token[0].Value);

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });


    }


    function SubmitedType(action) {

        if ($("#Select2_A option:selected").val() === '0') {
            $("#ERRAlertEdit2").show(300);
        } else if ($("#Select2_B option:selected").val() === '0') {
            $("#ERRAlertEdit2").show(300);
        } else if ($("#Select2_C option:selected").val() === '0') {
            $("#ERRAlertEdit2").show(300);
        } else if ($("#Select2_D option:selected").val() == '0') {
            $("#ERRAlertEdit2").show(300);
        } else if ($("#inputNew").val() == '') {
            $("#ERRAlertEdit2").show(300);
        } else {
            var PostJson;
            alert(action);
            if (action == 'New') {
                PostJson = {
                    'ActTodo': 'insert',
                    'SCK': $("#Select2_D option:selected").val(),
                    'SCV': $("#inputNew").val(),
                    'id': 0
                };
            } else if (action == 'Edit') {
                var id = $('#SCVId_').text();
                alert("edit id : " + id);
                PostJson = {
                    'ActTodo': 'update',
                    'SCK': $("#Select2_D option:selected").val(),
                    'SCV': $("#inputNew").val(),
                    'id': id
                };
            }



            $.ajax({
                url: '/MS/SCV_Add_Update',
                type: "post",
                data: JSON.stringify(PostJson),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#ERRAlertEdit2").hide(300);
                    $("#SuccesAlertEdit2").show(300);

                    if (action == 'Edit') {
                        var url = unescape('@Url.Action("SCV_table","MS",new { id="{0}"},Request.Url.Scheme)'.format($("#Select2_D option:selected").val()));
                        alert(url);
                        $('#show_tabSCV').load(url);

                        setTimeout(function () {
                           location.reload(true);
                        }, 2000);
                    } else {
                         $('#show_tabSCV').load("@Url.Action("SCV_table","MS",new { id= '0'},Request.Url.Scheme)");
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        }

    }



</script>

